@font-face {
  font-family: Noto Sans SC;
  src: url("../fonts/NotoSansSC-Regular.otf") format("opentype");
}

#app{
  height: 100vh;
  background-color: #E5E5E5;
}


.todo-main-container{
  border:1px solid #D0D0D0;
  padding:0;
  background-color: white;
  max-width: 700px;
}

.add-todo-input-container{
  width: 100%;
  border-bottom: 1px solid #D0D0D0;
}

.add-todo-icon{
  padding-left:10px;
}

.add-todo-input{
  width: 100%;
  border:none;
  padding: 6px;
  font-size: 28px;
}

.add-todo-input::placeholder{
  color: rgba(208,208,208,0.8);
  font-family: Noto Sans SC, sans-serif;
}

.add-todo-input:focus-visible{
  border:none;
}

.add-todo-input:focus{
  outline: none;
}



.todo-list-container > div:not(:last-child) {
  border-bottom: 1px solid #D0D0D0;
}

.todo-list-item-checkbox-wrapper{
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 10px;
}

.todo-list-item-checkbox-label{
  display: block;
  position: relative;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.todo-list-item-checkbox-label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.todo-completed-checkbox{
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 0.5px solid #D0D0D0;
  border-radius: 15px;
  align-self: center;
}


/* On mouse-over, add a grey background color */
.todo-list-item-checkbox-label:hover input ~ .todo-completed-checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.todo-list-item-checkbox-label input:checked ~ .todo-completed-checkbox {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.todo-completed-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.todo-list-item-checkbox-label input:checked ~ .todo-completed-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.todo-list-item-checkbox-label .todo-completed-checkbox:after {
  left: 10px;
  top: 6px;
  width: 8px;
  height: 14px;
  border: solid #2196F3;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo-list-item-text{
  color: black;
  font-family: Noto Sans SC, sans-serif;
  font-size: 24px;
  text-align: left;
}

.todo-list-item-text.completed{
  color: rgba(208,208,208,0.8);
  text-decoration: line-through;
}

.todo-list-item-delete-icon-wrapper{
  flex: 1;

  padding-right: 20px;
  cursor: pointer;
}


.items-left-text{
  color: rgba(128, 128, 128, 0.9);
  font-family: Noto Sans SC, sans-serif;
  font-size: 12px;
}

.clear-completed{
  cursor: pointer;
  text-decoration: underline;
}

.list-type-button{
  padding:1px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.list-type-button.active{
  border: 1px solid rgba(208,208,208,0.5);
}

.list-type-button span{
  color: rgba(128, 128, 128, 0.9);
  font-family: Noto Sans SC, sans-serif;
  font-size: 12px;
}

